@charset "utf-8";
/* CSS Document */
#pageTitle {
}

.title {
	font-size:72px;
}
.page {
	padding-top:25px;
	text-align:center;
}

img .full {
	width:100%;
}

.content {
	position:absolute;
	top:100px;
	left:10%;
	right:10%;
}